
/* # CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* 
- [ ] doesnt Google use 'White' as color naming?
- [ ] refractor color var names
- [ ] why are Google's color palette naming handy?
- [ ] webpack?  
- [ ] background var
- [ ] box-shadow var
- [ ] border style var
- [ ] border var name
- [ ] better to reboot instead of reset css?
- [ ] make card suitable for component isolation - or should it inherit global styles?
*/

:root {
  /* # Colors */    
    /* ## Primary */
      /* Soft Cyan (Full Slider Bar)*/
      --clr-secondary-surface: hsl(174, 77%, 80%);
      /* Strong Cyan (Slider Backround) */
      --clr-secondary-on-surface: hsl(174, 86%, 45%);
      /* Light Grayish Red (Discount Background) */
      --clr-alert-surface: hsl(14, 92%, 95%);
      /* Light Red (Discount Text) */
      --clr-alert-on-surface: hsl(15, 100%, 70%);
      /* Pale Blue (CTA Text) */
      --clr-primary: hsl(226, 100%, 87%);
    
    /* ## Neutral */
      /* White (Pricing Component Background) */
      --clr-white: hsl(0, 0%, 100%);
      /* Very Pale Blue (Main Background) */
      --clr-surface-100: hsl(230, 100%, 99%);
      /* Light Grayish Blue (Empty Slider Bar) */
      --clr-surface-200: hsl(224, 65%, 95%);
      /* Light Grayish Blue (Toggle Background) */
      --clr-surface-300: hsl(223, 50%, 87%);
      /* Grayish Blue (Text) */
      --clr-on-surface-emph-med: hsl(225, 20%, 60%);
      /* Dark Desaturated Blue (Text & CTA Background) */
      --clr-on-surface-emph-high: hsl(227, 35%, 25%);

  /* # Font settings */
    --ff-primary: 'Manrope', sans-serif;
    --fw-normal:  600;
    --fw-bold:    800;
    --fs-default: 15px;
    
  /* # ... */
    --shd-500: 0px 5px 10px rgba(0,0,0,.05);    
    --bor-on-surface: 1px solid var(--clr-surface-300);
    --bor-radius: 10px;
    --container-width: 375px;
    --container-width-large: 1440px;
  
  /* # Images */
    --img-swoosh:   url('images/bg-pattern.svg');
    --img-circles:  url('images/pattern-circles.svg');
    --ico-slider:   url('images/icon-slider.svg');
    --ico-check:    url('images/icon-check.svg');
}

html {
  font-size: var(--fs-default);
}

body {
  font-size:    1rem;
  font-family:  var(--ff-primary);
  font-weight:  var(--fw-normal);  
  color:        var(--clr-on-surface-emph-med);
  background-color:   var(--clr-surface-100);
  background-image:   var(--img-swoosh);
  background-repeat:  no-repeat;
}

h1 {
  font-size:      1.5rem;
  font-weight:    var(--fw-bold);
  color:          var(--clr-on-surface-emph-high);
  margin-bottom:  1rem;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
}

header {
  padding-top:     2rem;
  padding-bottom:  2rem;
  margin-top:      2rem;
  margin-bottom:   2rem;
  background-image:     var(--img-circles);
  background-repeat:    no-repeat;
  background-position:  center;
  background-size:      contain;
}

.button {
  display: block;
  font-size: 1.1rem;
  border: 0;
  padding: 1rem 3rem;
  border-radius: 3rem;
  background-color: var(--clr-on-surface-emph-high);  
  color: var(--clr-surface-300);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}
.button:hover {
  color: var(--clr-surface-100);
  transform: translateY(-0.25rem);
}


.card {
  background:     var(--clr-white);
  box-shadow:     var(--shd-500);
  border-radius:  var(--bor-radius);
}
.card-body {
  padding:  2rem;
  width: 100%;
  border-bottom: var(--bor-on-surface);
}
.card-body:last-child {
  border-bottom: 0;
}
.card-body > * {
  margin-bottom: 30px;
}
.card-body > *:last-child {
  margin-bottom: 0;
}




/* 
 * Slider input element styling overriges
 * with the help of:
 * * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
 * * https://css-tricks.com/sliding-nightmare-understanding-range-input/
 * * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range - for markup
 * * https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_slider_role - for accessibility


 - [ ] Test cross browser 
 - [ ] maybe better to setup with simple html and add slider behavior with own JS?
 - [ ] different foreground and background color for track
 - [ ] depcrate IE support? - if so: remove IE exception/fallback code and mention in readme - now you have fallback code with variables which dont work in IE
 - [ ] apply range slider styling to global input range element, or specific class
 - [ ] firefox has a strange border around thumb
 - [ ] in firefox focus state is now working
 - [ ] on mobile vertical scroll should be avoided when adjusting range slider
 - [ ] more obvious focus state is needed
 */

:root {
  --rangeslider-track-height: 9px;
  --rangeslider-track-bor-rad: 5px;
  --rangeslider-track-upper-bg-color: var(--clr-secondary-surface);
  --rangeslider-track-lower-bg-color: var(--clr-surface-200);
  /*  Position/transition of background gradient (--trackPos) will be dynamically defined and updated by JS,
      based on current range input value */
  --rangeslider-track-bg-color:   linear-gradient(to right, var(--rangeslider-track-upper-bg-color) var(--trackPos), var(--rangeslider-track-lower-bg-color) var(--trackPos));

  --rangeslider-thumb-height: 40px;
  --rangeslider-thumb-width: 40px;
  --rangeslider-thumb-bor-rad: 50%;
  --rangeslider-thumb-pos-vert: translateY(calc(-50% + var(--rangeslider-track-height) / 2));
  --rangeslider-thumb-shadow: 0px 15px 31px var(--clr-secondary-on-surface);
  --rangeslider-thumb-bg-color: var(--clr-secondary-on-surface);
  --rangeslider-thumb-bg-image: var(--ico-slider);
  --rangeslider-thumb-bg-pos: center;
  --rangeslider-thumb-bg-repeat: no-repeat;   
  --rangeslider-thumb-focus-filter: brightness(0.9);
}

/* Reset */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


/* Thumb */

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  height: var(--rangeslider-thumb-height);
  width:  var(--rangeslider-thumb-width);
  border-radius: var(--rangeslider-thumb-bor-rad);  
  transform: var(--rangeslider-thumb-pos-vert);
  background-color: var(--rangeslider-thumb-bg-color);
  box-shadow:var(--rangeslider-thumb-shadow);

  background-image: var(--rangeslider-thumb-bg-image);
  background-repeat: var(--rangeslider-thumb-bg-repeat);
  background-position: var(--rangeslider-thumb-bg-pos);
}

/* TODO: grabbing and brightness filter are not appearing on correct time (only after revisiting after click, instead of initional click), also it adjusts box-shadow color which is not desired */
input[type=range]:focus::-webkit-slider-thumb,
input[type=range]:active::-webkit-slider-thumb {
  cursor: grabbing;
  filter: var(--rangeslider-thumb-focus-filter);  
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {  
  cursor: pointer;
  height: var(--rangeslider-thumb-height);
  width:  var(--rangeslider-thumb-width);
  border-radius: var(--rangeslider-thumb-bor-rad);
  background-color: var(--rangeslider-thumb-bg-color);
  box-shadow:var(--rangeslider-thumb-shadow);

  background-image: var(--rangeslider-thumb-bg-image);
  background-repeat: var(--rangeslider-thumb-bg-repeat);
  background-position: var(--rangeslider-thumb-bg-pos);
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  cursor: pointer;
  height: var(--rangeslider-thumb-height);
  width:  var(--rangeslider-thumb-width);
  border-radius: var(--rangeslider-thumb-bor-rad);
  background-color: var(--rangeslider-thumb-bg-color);
  box-shadow:var(--rangeslider-thumb-shadow);

  background-image: var(--rangeslider-thumb-bg-image);
  background-repeat: var(--rangeslider-thumb-bg-repeat);
  background-position: var(--rangeslider-thumb-bg-pos);
}



/* Track */ 

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: var(--rangeslider-track-height);
  background: var(--rangeslider-track-bg-color);
  border-radius: var(--rangeslider-track-bor-rad);
}

input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: var(--rangeslider-track-height);
  background: var(--rangeslider-track-bg-color);
  border-radius: var(--rangeslider-track-bor-rad);
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  height: var(--rangeslider-track-height);  
  background: var(--clr-secondary-surface);
  border-color: var(--clr-secondary-surface);
  border-width: calc(var(--rangeslider-track-height) * 2) 0;
  color: var(--clr-secondary-surface);
}
input[type=range]::-ms-fill-lower {
  background: var(--rangeslider-track-lower-bg-color);
  border-radius: var(--rangeslider-track-bor-rad);
}
input[type=range]::-ms-fill-upper {
  background: var(--rangeslider-track-upper-bg-color);
  border-radius: var(--rangeslider-track-bor-rad);
}


.pricing-plan-price { 
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  color: var(--clr-on-surface-emph-high);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.pricing-plan-price small {
  font-size: 1rem;
  font-weight: var(--fw-normal);
  color: var(--clr-on-surface-emph-med);
  margin-left: 5px;  
}



/* TODO: increase size of icons */
/* .usp-list {
  list-style: disc;
} */
.usp-list-item {
  margin-bottom: 10px;
}
.usp-list-item:last-child {
  margin-bottom: 0;
}
.usp-list-item::before {
  content: '';
  margin-right: 10px;
  width: 20px;
  height: 10px;
  display: inline-flex;
  background-image: var(--ico-check);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.align-text-center {
  text-align: center;
}